.cardHover {
  section {
    transition: 0.3s;
    &:hover {
      transform: scale(1.05);
      transition: 0.3s;
    }
  }
}

@media (max-width: 1260px) {
  .movieSection {
    width: 200px;
    img {
      height: 300px;
    }
  }
  .cardHover {
    gap: 0px;
    padding: 0 50px;
  }
}
@media (max-width: 918px) {
  .movieSection {
    width: 150px;
    img {
      height: 200px;
    }
  }
  .cardHover {
    gap: 0px;
    padding: 0 20px;
  }
}
body {
  min-width: 820px;
}
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
