main {
  section {
    transition: 0.3s;
    &:hover {
      transform: scale(1.05);
      transition: 0.3s;
    }
  }
}
.header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000; /* 다른 요소보다 위에 오도록 설정 */
  background-color: black;
  color: white;
}

.n {
  position: fixed;
  top: 80px; /* 제목 아래에 위치하도록 조정 */
  width: 100%;
  z-index: 999;
  border-bottom: 1px solid #ddd;
}
