.cardHover {
  section {
    transition: 0.3s;
    &:hover {
      transform: scale(1.05);
      transition: 0.3s;
    }
  }
}
.header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000; /* 다른 요소보다 위에 오도록 설정 */
  background-color: black;
  color: white;
}
